.box-5{
    width: 90%;
    height: 264px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-5-right{
    width: 658px;
    height: inherit;

}

.box-5-right-img{
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: 20px;
}
