.box-8{
    width: 90%;
    height: 405px;
    margin: 20px auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border:1px solid #dddcdc;
    border-radius: 20px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
}
.box-8-tit{
    width: inherit;
    height: 44px;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    

}
.box-8-tit-1{
    width: 199px;
    height: inherit;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    .box-8-svg{
        width: 24px;
        height: 24px;
        color: #fab33c;
    }
    .box-8-tit-1-h2{
    font-family: yekan;
    font-size: 21px;

    }
}
.box-8-tit-2{
    width: 100px;
    height: inherit;
    position: absolute;
    left: 5px;
    
    display: flex;
    justify-content: center;
    align-items: center;

}
.box-8-tit-2-h2{
    font-family: yekan;
    font-size: 14px;
    color: #19BFD3;

}
 .mybox-8 {
      width: 100%;
      height: 100%;
    }

    .mybox-8 .swiper-slide {
        width: 350px;
        height: 313px;
      text-align: center;
      font-size: 18px;
      
      
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }

    .mybox-8 .swiper-slide img {
      display: block;
      width: 86px;
      height: 86px;
      object-fit: cover;
    }
    .mybox-8-child{
        width: inherit;
        height: 90px;
        

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        
    }
    
    .mybox-8-child-h2{
        width: 25px;
        height: 25px;
        font-family: yekan;
        font-size: 26px;
        color: #19BFD3;
        
        right: 90px;
    }
    .mybox-8-child-h4{
        
        font-family: yekan;
        font-size: 12px;
        line-height: 26px;
        text-align: center;
        white-space: pre;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .align{
        width: 185px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        

    }
    .box-8-tit-1-child{
        width: 250px;
        height: 50px;
        
        white-space: nowrap;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .box-8-tit-svg{
        width: 24px;
        height: 24px;
    }