.box-9{
    width: 90%;
    height: 850px;
    margin: 20px auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    
    border-radius: 20px;
}
.box-9-tit{
    width: inherit;
    height: 76px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.box-9-tit-right{
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    .box-9-svg{
        width: inherit;
        height: inherit;
        color: #ee4056;
    }
}
.box-9-tit-left{
    width: 290px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    .box-9-tit-left-h2{
        font-family: yekan;
        font-size: 21px;
    }
}
.box-9-parent{
    width: inherit;
    height: 235px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}


.box-9-child{
    width: 230px;
    height: 243px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    
    box-shadow: 1px 1px 10px #dddcdc;

}
.box-9-child-top{
    width: 201px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.box-9-child-top-img{
        width: 150px;
        height: 150px;
        object-fit: cover;
    }
.box-9-child-center{
    width: 200px;
    height: 34px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    .box-9-child-center-right{
        width: 34px;
        height: 20px;
        background-color: #D32F2F;
        border-radius: 10px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .box-9-child-center-right-h2{
            font-family: yekan;
        font-size: 12px;
        color: white;

        }
    }
    .box-9-child-center-left{
        width: 167px;
        height: 34px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        .box-9-child-center-left-h2{
            font-family: yekan;
            font-size: 16px;
            .box-9-span{
                font-size: 10px;

            }
        }

    }
}
.box-9-child-bottom{
    width: 200px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    .box-9-child-bottom-h2{
        font-family: yekan;
        font-size: 12px;
        text-decoration: 1px line-through #C0C2C5;
        color: #C0C2C5;
    }
}