.line{
    width: 100%;
    height: 0.5px;
    background-color: rgb(214, 213, 213);
    margin-top: 50px;
}
.footer{
    width: 90%;
    height: 80px;
    margin: 20px auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

}
.footer-right{
    width: 226px;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-left{
    width: 133px;
    height: 40px;
    border: 1px solid rgb(214, 213, 213);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.footer-left-h2{
    font-family: yekan;
    font-size: 12px;
    color: rgb(167, 167, 167);
}
.footer-left-svg{
    width: 20px;
    height: 20px;
    color: rgb(167, 167, 167);
    font-weight: bolder;
}
.footer-2{
    width: 90%;
    height: 80px;
    margin: 10px auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}
.footer-2-h2{
    font-family: yekan;
    font-size: 12px;
}
.line-2{
    width: 1px;
    height: 10px;
    background-color: rgb(167, 167, 167);
}
.footer-3{
    width: 90%;
    height: 110px;
    margin: 20px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.footer-3-child{
    height: inherit;
    flex-grow: 1;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.footer-3-child-h2{
    font-family: yekan;
    font-size: 11px;
}
.footer-4{
    width: 90%;
    height: 310px;
    margin: 20px auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    
}
.footer-4-right{
    width: 860px;
    height: inherit;
    margin: 20px auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
.footer-4-right-child{
    height: inherit;
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    

}
.footer-4-right-child-h2{
    font-family: yekan;
    font-size: 16px;
    text-align: right;
    line-height: 40px;

}
.footer-4-right-child-h3{
    font-family: yekan;
    font-size: 14px;
     text-align: right;
     color: #81858B;
     line-height: 40px;

}
.footer-4-left{
    width: 370px;
    height: 250px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding-top: 30px;
}
.footer-4-left-h2{
    width: inherit;
    height: 36px;
    font-family: yekan;
    font-size: 16px;
}
.footer-4-left-child{
    width: 324px;
    height: 40px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    
}
.footer-4-left-child-link{
    height: 40px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-4-left-svg{
    width: 40px;
    height: 40px;
    font-size: 10px;
}
.input{
    width: 324px;
    height: 48px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

}
.input-input{
    width: 262px;
    height: 48px;
    background-color: #f0f0f1;
    border-radius: 10px;
    padding-right: 10px;
    font-family: yekan;
    font-size: 15px;
    outline: none;
    border: none;

}
.input-labal{
    width: 54px;
    height: 48px;
    background-color: #e0e0e2;
    color: white;
    display: flex;
    
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: yekan;

}
.footer-5{
    width: 90%;
    height: 76px;
    background-color: #3c4b6d;
    border-radius: 10px;
    margin: 20px auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.footer-5-right{
    width: 325px;
    height: inherit;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.footer-5-left{
    width: 555px;
    height: inherit;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.footer-5-right-img{
    width: 44px;
    height: 44px;
    object-fit: cover;
    border-radius: 10px;
}
.footer-5-right-h2{
    font-family: yekan;
    font-size: 21px;
    color: white;
}
.footer-5-left-link{
    width: 142px;
    height: 44px;
}
.footer-5-left-img{
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: 10px;
}
.footer-5-left .footer-5-left-link:nth-of-type(4){
    width: 44px;
    height: 44px;
}
.footer-5-left-svg{
    width: inherit;
    height: inherit;
    background-color: white;
    border-radius: 10px;
}
.foter-line{
    width: 100%;
    height: 1px;
    margin: 30px auto;
    background-color: #e0e0e2;
}
.footer-6{
    width: 90%;
    height: 200px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    margin: 20px auto;

}
.footer-6-right{
    width: 875px;
    height: inherit;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;

}
.footer-6-left{
    width: 487px;
    height: inherit;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
.footer-6-right-h2{
    font-family: yekan;
    font-size: 21px;
}
.footer-6-right-p{
    font-family: yekan;
    font-size: 14px;
    color: #81858B;
    line-height: 30px;
    text-align: justify;

}
.footer-6-left-link{
    width: 108px;
    height: 108px;
    border: 1px solid #e0e0e2;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-6-left-img{
    width: 75px;
    height: 75px;
    object-fit: cover;
    
}
.footer-7{
    font-family: yekan;
    font-size: 11px;
    color: #81858B;
    margin: 20px auto;
    width: 838px;
    height: 35px;
}
.footer-8{
    width: 100%;
    height: 160px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    

}
.footer-8-link{
    height: 80px;
    width: 189px;
    background-color: #f0f0f1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.05px solid #b1b5ba58;
}

