@import url(../styles/setting.css);
@import url(../styles/header.css);
@import url(../styles/story.css);
@import url(../styles/slider.css);
@import url(../styles/box.css);
@import url(../styles/box2.css);
@import url(../styles/swiper.css);
@import url(../styles/box3.css);
@import url(../styles/box6.css);
@import url(../styles/box7.css);
@import url(../styles/box8.css);
@import url(../styles/box9.css);
@import url(../styles/box10.css);
@import url(../styles/footer.css);