    .title-1{
      width: 223px;
      height: 44px;
      margin: 25px auto;
      white-space: nowrap;
      display: flex;
      justify-content: center;
      align-items: center;

    }
    .title-1-h2{
      
      font-family: yekan;
      font-size: 21px;
      
    }
    .slider-4{
    width: 90%;
    height: 160px;
    margin: 20px auto;
    }
    .myslider-4 {
      width: 100%;
      height: 100%;
    }

    .myslider-4 .swiper-slide {
      text-align: center;
      font-size: 18px;
      
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }

    .myslider-4 .swiper-slide img {
      display: block;
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
    }
    .slider-4-tit{
        width: 108px;
        height: 26px;
        font-family: yekan;
        font-size: 12px;
        text-align: center;
        

        
        
    }
    